<!--
  Generated template for the MoviesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color='primary'>
    <ion-title  *ngIf="!isSearchBarOpened">Series</ion-title>
    <ion-searchbar #search (ionChange)='searchSerie(search.value)' *ngIf="isSearchBarOpened" showCancelButton="true" (ionCancel)="isSearchBarOpened=false"></ion-searchbar>
    <ion-buttons end class='search-bar'>

      <button ion-button icon-only *ngIf="!isSearchBarOpened" (click)="isSearchBarOpened=true">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class='page-content'>
  <ion-grid>
    <ion-row>
      <ion-col col-6 col-md-4 col-lg-2 *ngFor='let serie of series' >

        <ion-card class='card'  class="serie-info">
          <ion-buttons>
            <button class="card" ion-button full (click)="openDetails(serie.imdbID)">
              <ion-card-title #popoverText  class="card-title">
                {{serie.Title}}
              </ion-card-title>

              <img *ngIf="serie.Poster" src="{{serie.Poster}}" class="serie-img"/>

              <div class="card-subtitle">
                <ion-row>
                  <ion-col>
                    <ion-icon name="star"></ion-icon>
                    <div>5 étoiles</div>
                  </ion-col>
                  <ion-col>
                    <ion-icon name="calendar"></ion-icon>
                    <div>{{serie.Year }}</div>
                  </ion-col>
                  <ion-col>
                    <ion-icon name="PEGI"></ion-icon>
                    <div>{{serie.Rated }}</div>
                  </ion-col>
                </ion-row>
              </div>
            </button>
          </ion-buttons>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>