page-movies {

}
.card-title{
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  margin:auto;
  color:rgba(255,255,255,1);
  font-size: 14px;
  left:15%;
}
.card-subtitle{
  display: block;
}
ion-card{

}

img{
  padding:0 !important;

  display: block;

}